*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.xdv
*.nav
*.snm
*.vrb
*.dvi
*.gz
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdy
*.thm
*.idx
*.ilg
*.ind

.DS_Store
Thumbs.db
